{% extends "base.html" %}

{% block title %}Mis pedidos{% endblock %}

{% block content %}

<section class="pedidos-container">

    <h1>Mis pedidos</h1>
    <p>Aquí puedes ver todos los pedidos que has realizado.</p>

    <div class="pedidos-lista">

        {% for p in pedidos %}

        <div class="pedido-card">
            <div class="pedido-info">
                <h3>Pedido #{{ p.id_salvado }}</h3>
                <p>Tienda: {{ p.nombre_tienda }}</p>
                <p>Fecha: {{ p.fecha }}</p>
            </div>

            <div class="pedido-detalles">
                <span class="estado {{ p.estado|lower }}">
                    {{ p.estado }}
                </span>
            </div>
        </div>

        {% endfor %}

    </div>

</section>

{% endblock %}