{% extends "base.html" %}

{% block title %}Registro - Mi Empresa{% endblock %}

{% block content %}
<div class="layout">

    <aside>
        <h2>Crear Cuenta</h2>
        <p>Regístrate completando el siguiente formulario.</p>
    </aside>

    <main>
        <section class="register-box">

            <h2>Regístrate</h2>

            <img src="{{ url_for('static', filename='img/logo.png') }}" 
                 alt="Banner" 
                 class="banner-registro">

            <form id="formRegistro">

                <input type="text" name="usuario" placeholder="Usuario" required>

                <input type="email" name="correo" placeholder="Correo" required>

                <input type="password" name="password" placeholder="Contraseña" required>

                <input type="text" name="nombre" placeholder="Nombre"
                    required
                    pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ ]+"
                    title="Solo se permiten letras y espacios">

                <input type="text" name="apellido" placeholder="Apellido"
                    required
                    pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ ]+"
                    title="Solo se permiten letras y espacios">

                <input type="tel" name="telefono" placeholder="Teléfono"
                    required
                    pattern="[0-9]+"
                    title="Solo se permiten números">

                <input type="text" name="direccion" placeholder="Dirección" required>

                <button type="submit" class="boton-registro">
                    Registrarse
                </button>

            </form>

            <p class="login-link">¿Ya tienes cuenta? <a href="/">Inicia sesión</a></p>

        </section>
    </main>

</div>

//CONNECTION WITH FLASK API

<script>
//Get the form element
document.getElementById("formRegistro").addEventListener("submit", async function(e) {

    e.preventDefault();

    const form = e.target;
    //Create JSON object with user data
    const data = {
        usuario: form.usuario.value,
        correo: form.correo.value,
        password: form.password.value,
        nombre: form.nombre.value,
        apellido: form.apellido.value,
        telefono: form.telefono.value,
        direccion: form.direccion.value
    };
    //Send POST request to Flask API
    const res = await fetch("http://127.0.0.1:5000/api/usuarios", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        //Convert object to JSON
        body: JSON.stringify(data)
    });
    //Convert API response to JSON
    const result = await res.json();

    if (res.ok) {
        alert("Registro correcto");
        window.location.href = "/principal";
    } else {
        alert(result.mensaje || "Error al registrar");
    }

});
</script>

{% endblock %}